*~
.DS_Store
Library
*.csproj
*.sln
.vs
Temp
obj
*.log
ApiUpdaterCheck.txt
.vsconfig
*.dwlt
UserSettings/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
